<tbody>
    <table>
      <thead>
      <tr>
        <th>Product Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.product_code %></td>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price, unit: '€', precision: 2) %></td>
          <td><%= number_field_tag "count", 1 %></td>
          <td><%= link_to "Add to Cart" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</tbody>
