<tbody>
    <table>
      <thead>
      <tr>
        <th>Product Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.product_code %></td>
          <td><%= product.name %></td>
          <td><%= number_to_currency(product.price, unit: '€', precision: 2) %></td>
          <td>
            <%= form_for @order_product do |f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.number_field :quantity, value: 1, min: 1 %>
          </td>
          <td>
             <%= f.submit "Add to cart" %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</tbody>
